header
      h1
        a(href="/") 
          span Arcadia
            span(class="title") Games

      ul
        li 
          a(href="/games/game/all") Tous les jeux
        if isAuthenticated
          li 
            a(href="/games/game/new") Ajouter un Jeu
          li 
            a(href="/auth/signout") Déconnexion
        else
          li 
            a(href="/auth/signin/form") Connexion
          li 
            a(href="/users/signup/form") Inscription