header
      h1
        a(href="/") 
          span Arcadia
            span(class="title") Games

      ul
        li 
          a(href="#") Tous les jeux
        li 
          a(href="/games/game/new") Ajouter un Jeu