header(class="topbar")
    div(class="topbar-container")
        a(href="/" class="logo") 
            span Arcadia
                span(class="title") Games
        button(class="burger" id="burger")
            span
            span
            span
        nav(class="nav" id="nav")
            a(href="/games/game/all") Tous les jeux
            if isAuthenticated
                a(href="/games/game/new") Ajouter un Jeu
                a(href="/auth/signout") Déconnexion
            else
                a(href="/auth/signin/form") Connexion
                a(href="/users/signup/form") Inscription