div(class="certification-brand")
  div(class="certification-brand-rectangle")
    img(src="https://pics.filmaffinity.com/moonlighter-716346513-large.jpg" alt="affiche Jeu")
  div(class="certification-brand-rectangle")
    img(src="https://pics.filmaffinity.com/moonlighter-716346513-large.jpg" alt="affiche Jeu")
  div(class="certification-brand-rectangle")
    img(src="https://pics.filmaffinity.com/moonlighter-716346513-large.jpg" alt="affiche Jeu")
  div(class="certification-brand-rectangle")
    img(src="https://pics.filmaffinity.com/moonlighter-716346513-large.jpg" alt="affiche Jeu")
  div(class="certification-brand-rectangle")
    img(src="https://pics.filmaffinity.com/moonlighter-716346513-large.jpg" alt="affiche Jeu")
  div(class="certification-brand-rectangle")
    img(src="https://pics.filmaffinity.com/moonlighter-716346513-large.jpg" alt="affiche Jeu")
  div(class="certification-brand-rectangle")
    img(src="https://pics.filmaffinity.com/moonlighter-716346513-large.jpg" alt="affiche Jeu")
  div(class="certification-brand-rectangle")
    img(src="https://pics.filmaffinity.com/moonlighter-716346513-large.jpg" alt="affiche Jeu")
  div(class="certification-brand-rectangle")
    img(src="https://pics.filmaffinity.com/moonlighter-716346513-large.jpg" alt="affiche Jeu")
